---
import slugify from "slugify";

const generateRoseyID = (text: string) => {
  if (!text) {
    return "";
  }
  const lowerCaseText = text.toLowerCase();
  const formattedText = lowerCaseText.replaceAll(
    /(?:__[*#])|\[(.*?)\]\(.*?\)/gm,
    /$1/
  );
  return slugify(formattedText, { remove: /[.*,:\/]/g });
};
const { content, classes, styles } = Astro.props;
---

<h3
  data-rosey={generateRoseyID(content.original)}
  class={classes}
  style={styles}>
  {
    ENV_BOOKSHOP_LIVE && content.selected_translation === "es"
      ? content.es_translation
      : content.original
  }
</h3>
